

a:link {
font-family: Arial, Helvetica, sans-serif;

}



a {
  color: #ffffff; 
  text-decoration: none;

}


a:hover {
background-color: #292929;
color: #292929;
cursor: pointer ;

}


a:visited {
  color: #dab3e9; 
  font-style: italic;
}

h1, h2, h3, h4, p, li {

  color: aliceblue;

}


.grid-container {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #e7e7e7;
  display: grid;
  grid-template-areas:
    "banner banner banner"
    "nav1 main-page nav2"
    "nav1 article1 nav2"
    "nav1 article2 nav2"
    "nav1 article3 nav2"
    "nav1 article4 nav2"
    "nav1 article5 nav2"
    "nav1 article6 nav2"
    "nav1 footer footer"
    "nav1 footer footer"
    "nav1 footer footer";
  grid-template-rows: repeat(11, auto) ;
  grid-template-columns: 1fr 10fr 1fr ;
  column-gap: 0px; 
  row-gap: 0px; 
}



ul {
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;
}

ul li a:hover {

  background-color: #e00dce;

}

article:hover {

  background-color: #3b2516;

}


 .main-page {

  background-color: #220de0;

 }



/* Banner------------------------------------------------------------------------ */
.banner {
  background-color: #000000;
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  grid-area: banner;
  height: 100px;

}

.banner-logo {
  display: flex;
  width: 100px;
  height: 100px;
  order: -1;
  border-radius: 50%;
 }

 
.banner-centro {
  display: flex;
  width: 500px;
  height: 100px;
  margin-left: 10px;

 }

.banner-img {
  display: flex;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
 }

 
.dropbtn {
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
}


.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #292929;
  color: #292929;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Contenidos------------------------------------------------------------------------------------- */

.main-page {
    display: flex;
     background-color: #0e0e0e;
    padding: 20px;
    margin: 0px; 
    border: 0px solid #ddd; 
    flex-direction: column;
    align-content: baseline;
    align-items: center;
  
  
    grid-area: main-page;
  }
  
  

.contenido-img {
  display: flex;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
 }

.productos {
  display: flex;
  width: auto;
  height: auto;
  margin-left: 10px;
  border-radius: 0%;
}

.nav1 {
  background-color: #000000;
  border: 0px solid #f31b0c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  grid-area: nav1;
}

.article1 {
  background-color: #373737;
  border: 0px solid #f31b0c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: article1;
}


.article2 {
  background-color: #0e0e0e;
  border: 0px solid #f31b0c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: article2;
}

.article3 {
  background-color: #373737;
  border: 0px solid #f31b0c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: article3;
}



.article4 {
  background-color: #0e0e0e;
  border: 0px solid #f31b0c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: article4;
}



.article5 {
  background-color: #373737;
  border: 0px solid #f31b0c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  grid-area: article5;
}



.article6 {
  background-color: #0e0e0e;
  border: 0px solid #f31b0c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: article6;
}



.nav2 {
  background-color: #000000;
  border: 0px solid #f31b0c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  grid-area: nav2;
}


.video{
  display: flex;
  width: 70%;
  height: 70%;

}

.social-media-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media-icon {
  width: 100px; 
  height: 100px; 
  margin: 100px;
  
}

/* Footer */
.footer {
  justify-content: center;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  grid-area: footer;
  margin-top: 20px; 
}

.footer-img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;

}


@media (min-width: 480px) and (max-width: 576px) {

.grid-container {

grid-template-columns: auto auto;
grid-template-rows: repeat(11 auto) ;
grid-template-areas:  
"banner banner"
"banner banner"
"main-page main-page"
"article1 article1"
"article2 article2"
"article3 article3"
"article4 article4"
"article5 article5"
"article6 article6"
"nav1 nav1"
"nav2 nav2"
"footer footer"

;

}
.video {

  width: 50%;
  height: auto;

}

.productos {
  border-radius: 50%;

}

}